/* recipes stylesheet */

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.body-container {
    background-color: aquamarine;
    height: fit-content;
    text-align: center;
}

.title {
    margin: 0 auto;
    font-size: 6em;
}

.recipe-image {
    width: 400px;
    display: block;
    margin: auto;
}

.recipe-image-img {
    width: 90%;
}

.heading-flavor {
    font-size: 2em;
    color: rgb(38, 13, 77);
}

.heading-recipe {
    font-size: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
}

.heading-recipe-subheading {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.ingredients-list-container{
    text-align: left;
    width: 600px;
    margin: 0 auto;
}

.ingredients-list {
    width: fit-content;
    text-align: left;
}