/* styles-index.css */

* {
    font-family: 'Times New Roman', Times, serif;
}

#title {
    text-align: center;
    margin: 0 auto;
}

.heading-index {
    text-align: center;
    font-weight: 500;
    color: rgb(38, 13, 77);
}

.recipe-list-container {
    text-align: center;
}

.recipe-list {
    display: inline-block;
    padding-left: 0;
    list-style: none;
}

.recipe-list-item-link:link, .recipe-list-item-link:visited {
    color: black;
}